<%- include ('header/header.ejs'); %>
<body>
    <h1>Lista de Autos</h1>

    <!--  create a car card for each car, using the data from the database and including the brand name -->
        <section class="container fluid">
            <%- include ('blocks/autoCard.ejs'); %>
        </section>
    
</body>
</html>